

body>div {
    width: 20px;
    display: inline-block;
}

.column>div{
    transform: translateX(4px);
     transition:  2s linear 3s;

}

/*213*/

body>div:nth-child(1)>div:nth-child(2) {
     transform: translateX(27px);
    
    
}

body>div:nth-child(2)>div:nth-child(2) {
   
    transform: translateX(-20px);
}


/*321*/

body>div:nth-child(1)>div:nth-child(3) {
    
    transform: translateX(50px);
}

body>div:nth-child(3)>div:nth-child(3) {
    
    transform: translateX(-45px);
}


/*132*/

body>div:nth-child(3)>div:nth-child(4) {
    
    transform: translateX(-20px);
}

body>div:nth-child(2)>div:nth-child(4) {
   
    transform: translateX(28px);
}


/*312*/

body>div:nth-child(1)>div:nth-child(5) {
   
    transform: translateX(27px);
}

body>div:nth-child(3)>div:nth-child(5) {
    transform: translateX(-45px);
}

body>div:nth-child(2)>div:nth-child(5) {
    transform: translateX(28px);
}

/*231*/

body>div:nth-child(2)>div:nth-child(6) {
    transform: translateX(-21px);
}

body>div:nth-child(3)>div:nth-child(6) {
    transform: translateX(-20px);
}

body>div:nth-child(1)>div:nth-child(6) {
    transform: translateX(50px);
}

