.button{
    width: 160px;
    height: 50px;
    margin: auto;
    margin-top: 40%;
    transform: translateY(-50%);
    background-color: #C0C0C0;
    border-radius: 9px;
    position: relative;
}

p {
    color: orange;
    text-align: center;
    margin-left: 5%;
    margin-top: 50%;
    transform: translateY(50%);
    font-size: 20px;
    border-left-color: grey;
    padding-right: 20px;
   
}

.button:hover{
    background-color: grey;
}

.button:hover p{
    border-left-color: #C0C0C0;
}

.button:hover:after{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: grey;
    transform: rotate(45deg);
    margin-top: -22.5%;
    margin-left: 86%;
    border-radius: 3px;
}

.button>div:nth-child(-n+5):not(:nth-child(1)){
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 100%;
}


.button>div:nth-child(2){
    margin-left: 10px;
   margin-top: -33px;
 }
 
.button>div:nth-child(3){
    margin-left: 10px;
   margin-top: -25px;
 }
 
 .button>div:nth-child(4){
    margin-left: 10px;
   margin-top: -17px;
 }
 
  
 .button>div:nth-child(5){
    margin-left: 10px;
   margin-top: -9px;
 }
 
.button:hover>div:nth-child(-n+5):not(:nth-child(1)){
   background-color: #C0C0C0;
 }




