.button{
    width: 160px;
    height: 50px;
    margin: auto;
    margin-top: 40%;
    background-color: #C0C0C0;
    border-radius: 9px;
    position: relative;
}

p {
    color: orange;
    text-align: center;
    margin-left: 9%;
    margin-top: 50%;
    transform: translateY(50%);
    font-size: 20px;
    border-left-style: dotted;
    border-left-color: grey;
   
}

.button:hover{
    background-color: grey;
}

.button:hover p{
    border-left-color: #C0C0C0;
}

.button:hover:after{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: grey;
    transform: rotate(45deg);
    margin-top: -22.5%;
    margin-left: 86%;
    border-radius: 3px;
}
