.folder{
    position: relative;
}

.back{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: yellow;
    margin: 50px;
    border-radius: 20px;
}

.back:after{
    content: "";
    display: block;
     position: absolute;
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-top: -20px;
    border-radius: 20px;
}

.file_1{
    position: absolute;
    width: 160px;
    height: 130px;
    background-color: grey;
    border: solid 1px white;
    border-radius: 7px;
    margin-top: 70px;
    margin-left: 130px;
}

.file_2{
    position: absolute;
    width: 200px;
    height: 130px;
    background-color: grey;
    border: solid 1px white;
    border-radius: 7px;
    margin-top: 95px;
    margin-left: 110px;
}


.file_3{
    position: absolute;
    width: 230px;
    height: 130px;
    background-color: grey;
    border: solid 1px white;
    border-radius: 7px;
    margin-top: 120px;
    margin-left: 95px;
}

.top{
     position: absolute;
    width: 300px;
    height: 200px;
    background-color: yellow;
    margin: 50px;
    margin-top: 150px;
    border-radius: 20px;
}

.red_ball{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: red;
    border-radius: 100%;
    margin-top: 3px;
    
    
}

.yellow_ball{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: yellow;
    border-radius: 100%;
    margin-top: 3px;
    margin-left: 12px;
}

.green_ball{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: green;
    border-radius: 100%;
    margin-top: 3px;
    margin-left: 23px;
}

.menu{
    width: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    margin-top: 3px;
    margin-left: 90%;
    
}

.menu:after{
    width: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    margin-top: 6px;
    margin-left: 90%;
    
}


