.desk{
    width: 500px;
    height: 500px;
    border: solid;
}

.row{
    height: 10%;
    width: 100%;
    text-align: center;
}

.column{
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
}

.black{
    background-color: grey;
}