
.desk{
    max-width: 500px;
    height: 500px;
    border: solid;
    margin: auto;
}

.cell{
    height: 10%;
    width: 10%;
    float: left;
    text-align: center;
}

.black{
    background-color: grey;
}