.main{
    position: relative;
    width: 90vw;
    height: 10vw;
}

.skidki{
    float: right;
    border: dotted 3px #DC143C;
    border-radius: 10px;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 23vw;
}

.text{
    font-size: 5vw;
    font-weight: bold;
   color: #2F4F4F;
 
}

.red_text{
    color: #DC143C;
    font-size: 4vw;
    white-space: nowrap;
    font-weight: bold;
}

img{
    transform: translateY(9px);
    height: 10vw;
}

.proc{
    color: #DC143C;
    font-size: 9vw;
    text-align: center;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
    transform: translateY(-9vw)
}

.skidki>p:nth-child(1){
    margin-top: 4vw;
}